*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/back-image.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}